// Footer
$footer-bg: #f5f6f8;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Primary Colors
$strong-cyan: hsl(171, 66%, 44%);
$light-blue: hsl(233, 100%, 69%);

// Nuetral Colors
$dark-grayish-blue: hsl(210, 10%, 33%);
$grayish-blue: hsl(201, 11%, 66%);
// Body Copy
$font-size: 18px;

// ### Fonts

$font-family-baiJamjuree: "Bai Jamjuree";
$weight-primary: 400;
$weight-secondary: 600;
